:root{

    --background-light : #f0f2fa;
    --background-white : #0a090e;
    --text-dark: #0a0040;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik, sans-serif;
    color: var(--text-dark);
    background-color: #fff;
}


body{
    background-color:var(--background-white);
    color: #FFF;
    box-sizing: border-box;
    
}

.container-painel{
    width: 100%;
    height: 100%;
    display: flex;
}

nav{
    height: 100px;
    background-color: #4682B4;
    width: calc(100vw - 1px);
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.logo_1{
    width: 18vw;
    height: 7vh;
    background-color: #4682B4;
}

.nome_func{
    width: 100vw;
    font-size: 52px;
    padding-left: 20px;
    margin-top: 15px;
    font-weight: bold;
    background-color: #4682B4;
}
hr{
    width: 20px;
    height: 2px;
    margin-left: 20px;
    margin-top: 15px;
    display: block;
    background-color: var(--text-dark);
    border: 0;

}

.painel{
    display: flex;
}

.caixa-aberto{
    padding-left: 40%;
    font-size: 40px;
    font-weight: bold;
    background-color: #fff;
    display: flex;
}

.codigo-barras{
    width: 500px;
    margin: 0 15px;
    border: 1px solid #fff;
      
}

.panel-cod-barra {
    margin-top: 10%;
    padding-top: 100%;
    color: --var(--text-dark);
    font-size: 18px;
  }
/* ---------------  CONTEUDO DO FLEX -------------- */

  .flex-painel{
    display: flex;
    background-color: #4682B4;
    border: 1px solid #000;
   
  }
  
  .flex-painel-abertura-caixa{  
    display: flex;
    margin: 40px;
    left: 250px;
    justify-content: space-between;
    align-items: center;
    background-color: #4682B4;
    border: 1px solid #000;
  }

  .flex-caixa-aberto{
    justify-items: center;
    align-items: center;
    width: 50%;
    background-color: #4682B4;
   }

   .f2{
    color: #fff;
    font-size: 30px;
   }

  .flex-container{
    display: flex;
    justify-content:space-around;
    align-items:flex-start;

  }
  
  .flex-item {
    background-color: #CCC;
    border: 3px solid #555;
    color: #000;
    font-size: 30px;
    width: 100px;
    margin: 10px;
    
  }
  .f-1{
    width: 360px;
    height: 320px;
    border: 0;
   justify-items: center;
   border: 1px solid #000;
  }

  .f-2{
    width: 500px;
    background-color: #fff;
    border: 20px;
  }
  
  .e-1{
    margin: 10px;
  }

  .flex-elementos{
    display: flex;
    width: 495px;
    flex-direction: column;
    background-color: #4682B4;
    border-radius: 15px;
    border: 2px solid #4682B4;
  
  }

  .flex-elementos-list{
    display: flex;
    width: 490px;
    height: 50px;
    flex-direction: column;
    background-color: #4682B4;
    border-radius: 15px;

  }
  
  .titulo{
    width: 490px;
    background-color:#4682B4;
    text-align: center;
    border-radius: 15px;
  }

  .titulo-lista{
    width: 450px;
    background-color:#4682B4;
    font-size: 30px;
    text-align: center;
  }
 
  .infor-dados{
    height: 120px;
    width: 491px;
    background-color: #fff;
    font-size: 19px;
    border-radius: 0px 0px 15px 15px;
  
  }


  .infor-lista{
    width: 500px;
    height: 900px;    
    background-color: #555;
    font-size: 19px;
  }

  /* -------- IMAGENS DO SISTEMA ------------------*/

  .img-logo{
    background-color: #4682B4;
    padding: 25px; 
    width: 20%;
    
  }

  .img-foto-prod{
    width: 360px; 
    height: 390px; 
    
    
  }

.img-cart-logo{
    margin: auto;
    width: 15vw;
    height: 310px;
    margin-top: 10px;
    background-color: #f0f2fa;
}
